<nav class="top-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="fa fa-paint-brush"></span> Paintr
            </a>
        </div>

        <div class="navbar-user-login navbar-right">
            <ul class="nav nav-pills list-unstyled">
            {{#if login.loggedIn}}
                <li>
                    {{#link-to 'user/edit' login.user class='navbar-link'}}<span class="fa fa-user"></span>{{/link-to}}
                </li>
                <li>
                    <a {{action 'logout'}} href="#" class='navbar-link'>
                        <span class="fa fa-sign-out"></span> Sign out
                    </a>
                </li>
            {{else}}
                <li>
                    {{#link-to 'login' class='navbar-link'}}<span class='fa fa-sign-in'></span> Sign in{{/link-to}}
                </li>
            {{/if}}
            </ul>
        </div>
    </div>
</nav>