<div class="paintr-index">

    <div class="paintr-container">
        {{paintr-component createImage='createImage'}}
    </div>

    <div class="paintr-list">
        {{image-grid model=model}}
    </div>

</div>