
<div class='login-container'>
    <h2>Login</h2>
    <form>
        <div class="form-group">
            <label for="loginname-field">Username/Email:</label>
            {{input type="text" id="loginname-field" class="form-control" value=loginname}}
        </div>
        <div class="form-group">
            <label for="password-login-field">Password:</label>
            {{input type="password" id="password-login-field" class="form-control" value=password}}
        </div>
        <button {{action 'login'}} type="button" class="btn btn-primary">Login</button>
    </form>
</div>

