
.image-grid-container {
    margin-left: -5px;

    .image-grid-item {
        margin: 5px;
        border: 1px solid #efefef;
        height: 100%;
        display: block;
        box-shadow: 1px 1px 2px #bfbfbf;

        &:hover, &:link {
            text-decoration: none;
        }
    }
    .image-grid-item-info{
        padding: 10px;
        border-top: 1px solid #e6e6e6;

        & > span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.image-grid-item-user {
                color: #888;
                font-size: 0.8em;
            }
        }
    }
}
