<div class="image-grid-container">
    <div class="row">
        {{#each model as |image|}}
            <div class="col-md-2 col-sm-3 col-xs-4">
                {{#link-to 'image.view' image.id class="image-grid-item"}}
                    <img clas="image-grid-item-thumb" src="{{image.getSrc}}" width="100%" />

                    <div class="image-grid-item-info">
                        <span class="image-grid-item-title">{{image.title}}</span>
                        <span class="image-grid-item-user">By {{image.user.username}}</span>
                    </div>
                {{/link-to}}
            </div>
        {{/each}}
    </div>
</div>